body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    text-align: center;
}
h1{
    font-size: 30px;
}
ul{
    background-color: #262626;
    list-style: none;
    border: 1px solid white;
    color: white;
}
a{
    color: white;
}